<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        span{
            font-weight: bold;
            font-size: 20px;
        }
    </style>
</head>
<body>
    <h1>Principal</h1>
    <p>
        {% if request.user.username %}
            Bienvenido 
            <span>
                {{request.user.username}}
            </span> 
            <a href="{% url 'cerrarsesion' %}">cerrar session</a></p>
        {% endif %}
    <ul>
        <li><a href="{% url 'iniciarsesion' %}">Iniciar sesion</a></li>
        <li><a href="{% url 'registrar' %}">Registrar cuenta</a></li>
        <li><a href="{% url 'producto' %}">Productos</a></li>
        <li><a href="{% url 'cliente' %}">Clientes</a></li>
    </ul>
</body>
</html>