{% extends 'basesis.html' %}
{% block titulo %}
    AQuiEsta - inicio
{% endblock titulo %}

{% block extracss %}
    <style>
        .alinearizquierda{
            text-align: left;
        }
        .alinearderecha{
            text-align: right;
        }
        .btn-nuevo,
        .btn-editar,
        .btn-eliminar{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .btn-nuevo{
            float: right;
            margin-top: 25px;
        }
        .titulo-mtto{
            display: inline-block;
        }
    </style>
{% endblock extracss %}

{% block body %}
        <div class="container-fluid">
            <div class="">
                <h2 class="text-left all-tittles titulo-mtto">listado de categorias</h2>
                <button class="btn btn-primary btn-sm btn-nuevo">Nueva categoria</button>
            </div>

            <div class="div-table">
                <div class="div-table-row div-table-head">
                    <div class="div-table-cell">#</div>
                    <div class="div-table-cell alinearizquierda">Nombre</div>
                    <div class="div-table-cell alinearderecha">Operación&nbsp;&nbsp;</div>
                </div>
                {% for categoria in categorias %}
                    <div class="div-table-row">
                        <div class="div-table-cell">{{ categoria.id_categoria }}</div>
                        <div class="div-table-cell alinearizquierda">{{categoria.nombre}}</div>
                        <div class="div-table-cell alinearderecha">
                            <button class="btn btn-success btn-sm btn-editar">Editar</button>
                            <button class="btn btn-danger btn-sm btn-eliminar">Eliminar</button>&nbsp;&nbsp;
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
{% endblock body %}