<style>
    .modal-body{
        overflow-y: hidden;
    }
    .modal-title{
        display: inline-block;
    }
    .modal-dialog{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .etiqueta{
        font-weight: normal;
    }
</style>

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">NUEVO Producto</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form method="POST" action="{% url 'sisproductocrear' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal-body">
                <div class="form-group">
                    <label for="categoria" class="etiqueta" >Categoria:</label>
                    <select class="form-control" name="categoria" id="categoria">
                        {% for categoria in categorias %}
                            <option value="{{categoria.id_categoria}}">{{categoria.nombre}}</option>
                        {% endfor %}
                    </select>
                    <label for="codigo" class="etiqueta" >Codigo:</label>
                    {{ form.codigo }}
                    <label for="nombre" class="etiqueta" >Nombre:</label>
                    {{ form.nombre }}
                    <label for="moneda" class="etiqueta" >Moneda:</label>
                    {{ form.moneda }}
                    <label for="precio" class="etiqueta" >Precio:</label>
                    {{ form.precio }}
                    <label for="imagen" class="etiqueta" >Imagen:</label>
                    {{ form.imagen }}
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary btn-sm">Guardar</button>
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cerrar</button>
            </div>
        </form>
    </div>
</div>