{% extends 'basesis.html' %}
{% block titulo %}
    AQuiEsta - Inicio
{% endblock titulo %}

{% block body %}
    <div class="container">
        <div class="page-header">
        <h1 class="all-tittles">Sistema de Gestión <small>Inicio</small></h1>
        </div>
    </div>
    <section class="full-reset text-center" style="padding: 40px 0;">
        <article class="tile">
            <div class="tile-icon full-reset"><i class="zmdi zmdi-truck"></i></div>
            <div class="tile-name all-tittles">Pedidos por Despachar</div>
            <div class="tile-num full-reset">{{QPxDespachar}}</div>
        </article>
        <article class="tile">
            <div class="tile-icon full-reset"><i class="zmdi zmdi-balance"></i></div>
            <div class="tile-name all-tittles">Pedidos Entregados</div>
            <div class="tile-num full-reset">{{QPEntregados}}</div>
        </article>
        <article class="tile">
            <div class="tile-icon full-reset"><i class="zmdi zmdi-calendar"></i></div>
            <div class="tile-name all-tittles">Todos los pedidos</div>
            <div class="tile-num full-reset">{{QPEmitidos}}</div>
        </article>
        <article class="tile">
            <div class="tile-icon full-reset"><i class="zmdi zmdi-bookmark-outline"></i></div>
            <div class="tile-name all-tittles">Categorias</div>
            <div class="tile-num full-reset">{{QCategorias}}</div>
        </article>            
        <article class="tile">
            <div class="tile-icon full-reset"><i class="zmdi zmdi-book"></i></div>
            <div class="tile-name all-tittles">Productos</div>
            <div class="tile-num full-reset">{{QProductos}}</div>
        </article>
    </section>
{% endblock body %}