<style>
    .modal-body{
        overflow-y: hidden;
    }
    .modal-title{
        display: inline-block;
    }
    .modal-dialog{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .etiqueta{
        font-weight: normal;
    }
    .labelimagen{
        font-weight: bold;
    }
</style>

<div class="modal-dialog" role="document">
    <div class="modal-content">

        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">EDITAR Empresa</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form method="POST" action="{% url 'sisempresaeditar' empresa.id_empresa %}"  enctype="multipart/form-data" >
            {% csrf_token %}
            <div class="modal-body">
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="ruc" class="etiqueta">RUC:</label>
                    </div>
                    <div class="form-group col-md-10">
                        {{ form.ruc }}
                    </div>
                    
                </div>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="rznsocial" class="etiqueta" >Nombre:</label>
                    </div>
                    <div class="form-group col-md-10">
                        {{ form.rznsocial }}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="direccion" class="etiqueta" >Dirección:</label>
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.direccion }}
                    </div>
                    <div class="form-group col-md-4">
                        {{ form.ubigeo }}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="telefono" class="etiqueta" >Telefonos:</label>
                    </div>
                    <div class="form-group col-md-10">
                        {{ form.telefono }}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="imagen" class="etiqueta labelimagen" >Frontis Local:</label>
                        {{ form.imagen }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="imagen" class="etiqueta labelimagen" >Logotipo:</label>
                        {{ form.logo }}
                    </div>
                </div>

            </div>

            {% if mensaje %}
                <div class="alert alert-warning" role="alert">
                    {{mensaje}}
                </div>
            {% endif %}
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary btn-sm">Guardar</button>
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cerrar</button>
            </div>
        </form>
    </div>
</div>
